<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pato"
        android:label="La Charca"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1merTrimestre"
        tools:targetApi="31">
        <activity
            android:name=".controler.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".controler.LogOnActivity"
            android:exported="true"/>
        <activity
            android:name=".controler.InitSesionActivity"
            android:exported="true"/>
        <activity
            android:name=".controler.MainMenuActivity"
            android:exported="true"/>
        <activity
            android:name=".controler.PreferencesActivity"
            android:exported="true"/>
        <activity
            android:name=".controler.TrapDuckActivity"
            android:exported="true"/>
        <activity
            android:name=".controler.SeeMyDucksActivity"
            android:exported="true"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>